includes:
	- vendor/phpstan/phpstan-mockery/extension.neon
	- vendor/phpstan/phpstan-phpunit/extension.neon

parameters:
	parallel:
	    jobSize: 20
	    maximumNumberOfProcesses: 32
	    minimumNumberOfJobsPerProcess: 2
	    processTimeout: 100.0
	checkGenericClassInNonGenericObjectType: false
	checkMissingIterableValueType: false
	excludes_analyse:
		- /app/src/Infrastructure/Migrations/*
		- /app/src/Presentation/Cli/Command/*
		- /app/tests/Unit/Preprocessor/*
		- /app/tests/unit/*
	ignoreErrors:
		- '#Unsafe usage of new static\(\).#'
		- '#Strict comparison using === between false and int will always evaluate to false\.#'
		- '#Call to an undefined static method MicroModule\\ValueObject.*#'
